# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VisualStudio Files
*.vs

# Log files
*.log
*.tlog

# Other
*.idb
*.pdb
*.ilk

# Build folders
Client/BackEndMonitoringClient/Build/**
Client/BackEndMonitoringClientCLI/Build/**
Client/BackEndMonitoringClientTests/Build/**
Server/BackEndMonitoringServer/Build/**
Server/BackEndMonitoringServerTests/Build/**
CLogger/Build/**
UtilsTests/Build/**
Sockets/BackEndMonitoringSockets/Build/**
.idea/**
cmake-build-debug/**
cmake-build-release/**
cmake-build-debug-visual-studio/**
cmake-build-release-visual-studio/**

# Don't ignore files in "packages" dir // I said IGNORED
packages/**
