# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VisualStudio Files
*.vs

# Build folders
BackEndMonitoring/Client/BackEndMonitoringClient/Build/**
BackEndMonitoring/Client/BackEndMonitoringClientTests/Build/**
BackEndMonitoring/Server/BackEndMonitoringServer/Build/**
BackEndMonitoring/Server/BackEndMonitoringServerTests/Build/**

# Dont ingore files in "packages" dir
!packages/